@font-face {
	font-family: "MyriadPro-Regular";
	src: local("MyriadPro-Regular.otf"), url(/fonts/MyriadPro-Regular.otf);
}
body{
	background: #021E02;
}
.container{
	background: #FFF;
	-moz-box-shadow:inset 0px 0px 15px 5px #bfbfbf;
	-webkit-box-shadow:inset 0px 0px 15px 5px #bfbfbf;
	box-shadow:inset 0px 0px 15px 5px #bfbfbf;
}
label{
	font:18px "MyriadPro-Regular",serif
}


/* HEADER */

.header{
	background:#022602;
	height:150px;
	-moz-box-shadow:0px 0px 15px 5px #000000;
	-webkit-box-shadow:0px 0px 15px 5px #000000;
	box-shadow:0px 0px 15px 5px #000000;
	color: #FFF;
}
.header span{
	font-size: 26px;
}
.header .button{
	margin-top:20px;
}
.header .logo{
	height:150px;
}
.header .navigation{
	font-family: "MyriadPro-Regular", serif; 	
	margin-top:10px;
}
.header .languages_filter{
	list-style:none;
	padding:0px;
}
.header .languages_filter li{
	display:inline;
	font-size: 20px;
	text-transform: uppercase;
	margin-right:5px;
}
.header .languages_filter li a{
	color:#FFF;
	text-shadow: none;
	text-decoration: none;
	/* Firefox */
	-moz-transition: text-shadow 0.3s ease-in;
	/* WebKit */
	-webkit-transition: text-shadow 0.3s ease-in;
	/* Opera */
	-o-transition: text-shadow 0.3s ease-in;
	/* Standard */
	transition: text-shadow 0.3s ease-in;
}
.header .languages_filter li a:hover{
	color:#FFF;
	text-shadow: 0 5px 15px #FFF;
}
.header .logo span{
	margin:10px 0;
 	text-indent: -9999px;
 	background: url(/images/logo.png) no-repeat;
 	display: block;
 	width:186px;
 	height:123px;
 	position:relative;
 	top:9px;
 	left:40px;
}

.button {
	background: #0ca600;
	background: -moz-linear-gradient(top, #49802C 0%, #579830);
	background: -webkit-gradient(linear, left top, left bottom, from(#49802C), to(#579830));
	border-color: #0a6c00;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0px 1px 1px rgba(000,000,000,0.3), inset 0px 0px 3px rgba(255,255,255,0.5);
	-webkit-box-shadow: 0px 1px 1px rgba(000,000,000,0.3), inset 0px 0px 3px rgba(255,255,255,0.5);
	box-shadow: rgba(0,0,0,0.3) 0 1px 1px;
	color: #fff;
	display: inline-table;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding: 11px 20px;	
	text-align: center;
	text-decoration: none;
	text-shadow: rgba(0,0,0,0.6) -1px -1px 0;
	float: right;
}
.button:hover {
	background: -moz-linear-gradient(top, #49802C 0%, #579830 50%, #49802C);
	background: -webkit-gradient(linear, left top, left bottom, from(#49802C), color-stop(0.50, #0c8c03), to(#49802C));
	cursor: pointer;
	background: #0ca600;
	background: -moz-linear-gradient(top, #49802C 0%, #579830);
	background: -webkit-gradient(linear, left top, left bottom, from(#49802C), to(#579830));
	background: -moz-linear-gradient(top, #49802C 0%, #579830 50%, #49802C);
	background: -webkit-gradient(linear, left top, left bottom, from(#49802C), color-stop(0.50, #579830), to(#49802C));
	color: #fff;
}


/* MAIN */

.main{
	padding:30px;
}
.main legend{
	font: 29px "MyriadPro-Regular", serif;
	font-weight: bold;
	color:#636363;
}
.main textarea, .main input[type="text"]{
	width:847px;	
}
.main input[type="text"]{
	padding:10px;
	font-size:16px;
}
.main .vote_up {
	background: #0ca600;
	background: -moz-linear-gradient(top, #61AF36 0%, #579830);
	background: -webkit-gradient(linear, left top, left bottom, from(#61AF36), to(#579830));
	border-color: #0a6c00;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0px 1px 1px rgba(000,000,000,0.3), inset 0px 0px 3px rgba(255,255,255,0.5);
	-webkit-box-shadow: 0px 1px 1px rgba(000,000,000,0.3), inset 0px 0px 3px rgba(255,255,255,0.5);
	box-shadow: rgba(0,0,0,0.3) 0 1px 1px;
	color: #fff;
	display: inline-table;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding: 11px 20px;	
	text-align: center;
	text-decoration: none;
	text-shadow: rgba(0,0,0,0.6) -1px -1px 0;
	float: right;
}
.button:hover {
	background: -moz-linear-gradient(top, #61AF36 0%, #579830 50%, #61AF36);
	background: -webkit-gradient(linear, left top, left bottom, from(#61AF36), color-stop(0.50, #0c8c03), to(#61AF36));
	cursor: pointer;
	background: #0ca600;
	background: -moz-linear-gradient(top, #61AF36 0%, #579830);
	background: -webkit-gradient(linear, left top, left bottom, from(#61AF36), to(#579830));
	background: -moz-linear-gradient(top, #61AF36 0%, #579830 50%, #61AF36);
	background: -webkit-gradient(linear, left top, left bottom, from(#61AF36), color-stop(0.50, #579830), to(#61AF36));
	color: #fff;
}

/* FOOTER */

.footer{
	background:#022602;
	height:150px;
	-moz-box-shadow:0px 0px 15px 5px #000000;
	-webkit-box-shadow:0px 0px 15px 5px #000000;
	box-shadow:0px 0px 15px 5px #000000;
	color: #FFF;
	padding: 10px 0px 10px 40px;
}
.footer h3{
  color: #FFFFFF;
  font: 28px MyriadPro-Regular;
  margin-bottom: 10px;
}
.footer .signature{
	position:relative;
	top:109px;
}
.footer a{
	color:#FFF;	
	text-decoration: none;
	text-shadow: none;
	-moz-transition: text-shadow 0.3s ease-in;
	-webkit-transition: text-shadow 0.3s ease-in;
	-o-transition: text-shadow 0.3s ease-in;
	transition: text-shadow 0.3s ease-in;

}
.footer a:hover{
	color:#FFF;	
	text-decoration: none;
	text-shadow: 0 5px 15px #FFF;
}
.footer .signature a{
	float:right;	
}