<% form_for @code do |f| %>
  <label>Essa gambiarra foi escrita em <%= f.collection_select :language_id, @languages, :id, :name %></label>
  <%= f.text_area :smell %>
  <label>Por que tu tรก enviando isso? <%= f.text_field :comment %></label>
  <%= f.submit 'Enviar Gambiarra!'%>
<% end %>